.article{
    display: flex;
    margin-top: 174px;
    
   

}
.article input{
    
    width: 736px;
    height: 54px;
    margin: auto;
    background: var(--gray-500);
    border: solid var(--gray-500);
    border-radius: 8px;
    align-items: center;
    gap: 10px;
}
