.search{
   margin: auto;
   margin-top: 174px;
   padding: 10px;
}
.formulario{
display: flex;
justify-content: center;
gap: 10px;
}
.formulario input{
   width: 736px;
   height: 54px;
   background: var(--gray-500);
   border: solid var(--gray-500);
   border-radius: 8px;
   color: var(--gray-300);
   align-items: center;
   font-size: 16px;
   padding: 16px;
}
.formulario button{
   margin-left: 15px;
   border-radius: 8px;
   color: var(--gray-100);
   font-weight: 500;
   font-size: 16px;
   text-align: center;
}
.article{
   width: 840px;
   height: 50px;
   margin: auto;
   margin-top: 74px;
   margin-bottom: 20px;



}
.contador {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px;
   flex-wrap: wrap; /* Permite que os itens sejam empilhados se necessário */
}
.contador span{
   color: var(--blue);
   font-weight: 600;
   font-size: 14px;
   
   
}
.contador strong{
   color: var(--purple);
   font-weight: 600;
   font-size: 14px;

}
.criada{
   
   display: flex;
   gap: 10px;
}
.criada strong {
   width: 30px;
   align-items: center;
   text-align: center;
   background: var(--gray-400);
   color: var(--gray-100);
   border-radius: 8px;
}
.concluidas{
   display: flex;
   gap: 10px;
   
}
.concluidas span{
   color: var(--purple);
}
.concluidas strong{
   width: 30px;
   align-items: center;
   text-align: center;
   background: var(--gray-400);
   color: var(--gray-100);
   border-radius: 8px;
}
.search, .formulario, .article {
   overflow-x: hidden;  

}


@media (max-width: 1000px) {
   .formulario {
       flex-direction: column;
       align-items: stretch; /* Ajusta alinhamento para ocupar toda a largura disponível */
      
   }
   .formulario input, .formulario button {
       width: 100%; /* Garante que o input e botão ocupem toda a largura do container pai */
   }

   .formulario button{
      width: 100%;
      margin: auto;
   }
   footer{
      margin-top: 20px;
   }
   .article {
       display: flex;
       flex-direction: column;
       width: 90%;
   }
   .contador {
      align-items: center; /* Centraliza os itens na tela pequena */
     
  }
}









