.container{
    display: flex;
}

.div{
    margin: auto;
    margin-top: 174px;
    padding: 10px;
}
.div button{
    margin-left: 15px;
    border-radius: 8px;
    color: var(--gray-100);
    font-weight: 500;
    font-size: 16px;
    text-align: center;

}
.div input{
    
    width: 736px;
    height: 54px;
    margin: auto;
    background: var(--gray-500);
    border: solid var(--gray-500);
    border-radius: 8px;
    color: var(--gray-300);
    align-items: center;
    font-size: 16px;
    padding: 16px;
}
