.checkbox{
    width: 832px;
    height: 80px;
    margin: auto;
    padding-top: 0px;
    display: flex;
    background: var(--gray-500);
    color: var(--gray-100);
    border-radius: 8px;
    margin-bottom: 20px;
 
 }
.check{
    margin: auto;
    margin-left: 15px;
    cursor: pointer;
 }
 
 .tarefa {
    padding: 10px;
    margin: auto;
    margin-left: 20px;
 }
 .checkbox button{
   border: none;
   background: var(--gray-500);
    cursor: pointer;
   margin: 10px;
 }
 .checkbox > Trash{
   color: var(--gray-100);
 
 }

 
 .container{
    display: flex;
 }
 